@model List<GrozdiViewModel>
<div><a class="btn btn-success" href="@Url.Action("ExportToExcel", "Dodeljevanje")">Izvozi v Excel</a></div>

<div><a class="btn btn-success" href="@Url.Action("ExportMenjaveToExcel", "Dodeljevanje")">Izvozi v Excel kontrolna</a></div>
@foreach (var grozd in Model)
{
    <div>
        <h2>Grozd ID: @grozd.GrozdID, Podpodročje: @grozd.PodpodrocjeNaziv</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Številka prijave</th>
                    <th>Naslov</th>
                    <th>Interdisciplinarna</th>
                    <th>Število recenzentov</th>
                    <th>Podpodročje</th>
                    <th>Dodatno podpodročje</th>
                    <th>Recenzenti</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prijava in grozd.Prijave)
                {
                    <tr>
                        <td>@prijava.StevilkaPrijave</td>
                        <td>@prijava.Naslov</td>
                        <td>@(prijava.Interdisc ? "Da" : "Ne")</td>
                        <td>@prijava.SteviloRecenzentov</td>
                        <td>@prijava.Podpodrocje</td>
                        <td>@prijava.DodatnoPodpodrocje</td>
                        <td>@prijava.PartnerskaAgencija1</td>
                        <td>@prijava.PartnerskaAgencija2</td>
                        <td>
                            @foreach (var recenzent in prijava.Recenzenti)
                            {
                                <div>@recenzent.Sifra @recenzent.Priimek @recenzent.Drzava (@recenzent.Vloga)</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
