@model IEnumerable<Randomizer.Models.Podrocje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Koda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AngNaziv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AngNaziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PodrocjeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PodrocjeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PodrocjeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
