@model IEnumerable<Randomizer.Models.Prijave>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StevilkaPrijave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrstaProjekta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Drzava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SteviloRecenzentov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interdisc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerskaAgencija1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartnerskaAgencija2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podrocje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Podpodrocje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DodatnoPodrocje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DodatnoPodpodrocje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StevilkaPrijave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaProjekta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drzava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SteviloRecenzentov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerskaAgencija1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerskaAgencija2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podrocje.PodrocjeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Podpodrocje.PodpodrocjeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DodatnoPodrocje.PodrocjeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DodatnoPodpodrocje.PodpodrocjeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PrijavaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PrijavaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PrijavaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
