@model Randomizer.Models.Prijave

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prijave</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StevilkaPrijave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StevilkaPrijave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VrstaProjekta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VrstaProjekta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteviloRecenzentov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteviloRecenzentov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interdisc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interdisc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerskaAgencija1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerskaAgencija1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartnerskaAgencija2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartnerskaAgencija2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AngNaslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AngNaslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vodja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vodja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SifraVodje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SifraVodje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivRO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivRO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AngNazivRO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AngNazivRO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SifraRO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SifraRO)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Podpodrocje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Podpodrocje.PodpodrocjeID)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DodatnoPodpodrocje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DodatnoPodpodrocje.PodpodrocjeID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrijavaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
