@model IEnumerable<Randomizer.Models.GrozdiRecenzenti>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vloga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grozd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recenzent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prijava)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vloga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grozd.GrozdID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recenzent.RecenzentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijava.PrijavaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GrozdRecenzentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GrozdRecenzentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GrozdRecenzentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
