@model List<MenjavaRecenzentaViewModel>
<div><a class="btn btn-success" href="@Url.Action("ExportToExcel", "Dodeljevanje")">Izvozi v Excel - Celotna</a></div>

<div><a class="btn btn-success" href="@Url.Action("ExportMenjaveToExcel", "Dodeljevanje")">Izvozi v Excel - Zamenjave</a></div>

<h2>Menjave Recenzentov</h2>
<table class="table">
    <thead>
        <tr>
            <th>Številka Prijave</th>
            <th>Originalni Recenzent Šifra</th>
            <th>Nadomestni Recenzent Šifra</th>
            <th>Nadomestni Recenzent Ime in Priimek</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menjava in Model)
        {
            <tr>
                <td>@menjava.StevilkaPrijave</td>
                <td>@menjava.OriginalniRecenzentSifra</td>
                <td>@menjava.NadomestniRecenzentSifra</td>
                <td>@menjava.NadomestniRecenzentImePriimek</td>
            </tr>
        }
    </tbody>
</table>
