@model Randomizer.Models.Recenzent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recenzent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sifra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EPosta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SteviloProjektov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SteviloProjektov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Drzava)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Drzava)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RecenzentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
